.progressBar{
  background-color: black;
  border: 1px solid black;
  width: 20%;
  height: 100px;
  transform: rotate(180deg);
  margin: auto;
  bottom:10px;
  /*display: none;*/

}
.Thirds{
  border: 1px solid black;
  height:1000px;
  width:40%;
  display: inline;
}
.floor{
  position: fixed;
  bottom: 0px;
}
#modal{
  display: none;
  position: fixed;
  background-color: darkgoldenrod;
  left: 50%;
}
